<!--extends "main/header.html" --> 

{% load crispy_forms_tags %}

{% load static %}
{% load custom_filters %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <title>Register - Writophobia</title>
    <meta name="description" content="Register at Writophobia and Discover a dynamic blogging platform that offers a rich selection of topics, including computer programming, travel, and practical tips. Immerse yourself in insightful and engaging articles, all written by authors with a unique perspective.">
    <meta name="keywords" content="writophobia,blogs,coding,programming,travel,tips,register">
    <link rel="canonical" href="{{canonical_url}}">

    <meta property='og:title'  content="Register - Writophobia">
    <meta property='og:description'  content='Register at Writophobia and Discover a dynamic blogging platform that offers a rich selection of topics, including computer programming, travel, and practical tips. Immerse yourself in insightful and engaging articles, all written by authors with a unique perspective.'>
    <meta property='og:url'  content='{{request.build_absolute_uri}}'>
    <meta property="og:image"  content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/static/images/logo_1.jpg">

    <meta name='twitter:title' content="Register - Writophobia">
    <meta name='twitter:description' content='Register at Writophobia and Discover a dynamic blogging platform that offers a rich selection of topics, including computer programming, travel, and practical tips. Immerse yourself in insightful and engaging articles, all written by authors with a unique perspective.'>
    <meta name='twitter:url' content='{{request.build_absolute_uri}}'>
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/static/images/logo_1.jpg">

    {% include 'blog/css_import.html' %}
</head>

<!--Register--> 
<body>
    <div class="wrap">
		{% include 'blog/header.html' %}
		<div class="container py-5">
			<h1>Register</h1>
			<div class="errors" style="color: red;">
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			</div>
			<form method="POST">
				{% csrf_token %}
				{{ register_form|crispy }}                    
				<button class="btn btn-primary" type="submit">Register</button>
			</form>
			<p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
		</div>
	</div>
</body>

{% include 'blog/js_import.html' %}